node_modules
dist
build
.turbo
.next
.cache
coverage

# env
.env
.env.*
!.env.example

# supabase
supabase/.branches
supabase/.temp

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
